@{
    ViewBag.Title = "Confirm Email";
}


<style>
    ul {
        list-style-position: outside;
        list-style-type: none;
    }
</style>

<div style="background-color: #1a1a1a; margin:30px; padding: 30px; border-radius: 5px; border-color: #9933cc; border-width: 1px; border-style: solid">

    <div class="form-group" style="text-align: center;">
        <h3>Multumim ca ti-ai confirmat email-ul</h3>
        <hr />
        <p>Poti incepe sa lucrezi la muzica ta linistit</p>
        <p>Pentru contul gratuit se aplica limite de upload si folosirea serviciior</p>
        <p>Pentru a te loga in cont @Html.ActionLink("da click aici", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </p>
    </div>

</div>