
<style>

    .buttonsForTables {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .titletabele {
        text-align: center;
        padding: 20px;
        color: white;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #21262d;
        color: white;
    }

    .btn {
        margin: 8px;
        background-color: #21262d;
        color: white;
    }

    a {
        text-decoration: none !important;
        color: white;
    }
</style>

<div class="tabelDiv">
    <h2 class="titletabele">Clienti</h2>
    <div class="buttonsForTables" style="background-color: #0d1117">
        <button type="button" class="btn">Adauga</button>
        <button type="button" class="btn">Update</button>
        <button type="button" class="btn">Sterge</button>
        <button type="button" class="btn">Load</button>
    </div>
    <div class="TabeleNebune">
        <table class="table table-hover">
            <tr>
                <th>Nume</th>
                <th>Este subscribed?</th>
                <th>Tip de subscriptie</th>
                <th>Discount%</th>
            </tr>
            @foreach (var client in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Detalii", "Clienti", new { id = client.Id })">@client.Name</a></td>
                    <td>
                        @if (client.IsSubscribed)
                        {<p style="margin-bottom:0px" >Da, este un zeu! </p> }
                        else
                        {
                            <p style="margin-bottom:0px">Nu, e putin bulangiu!</p>
                        }

                    <td>
                    @client.MembershipType.Name
                    </td>
                    <td>@client.MembershipType.DiscoutRate%</td>
                </tr>
            }
        </table>
    </div>
</div>
