.TabeleNebune {
    height: fit-content; 
    background-color: #0d1117;
}


#footer {
    margin-top: 70px;
}


.tabelDiv {
    display: flex;
    flex-direction: column;
    height: 92vh !important;
    width: 80vw !important;
    border: 30px solid #0d1117;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: #1d2330;
    margin-left: 0px;
    margin-top: 0px !important;
    left: 10vw;
}
.titletabele {
    background-color: #0d1117;
    margin-bottom: unset;
    padding-bottom: 0.6rem;
}
#main-container {
    width: 85vw !important;
    height: 80vh !important;
}



a {
    text-decoration: none;
}

.field-validation-error {
    color: #c00 !important
}


.dataTables_length {
    display: inline;
    background-color: #0d1117;
    width: fit-content;
}

#Piese_wrapper {
    background-color: #0d1117;
}


#tabele-container
{
    margin-left: auto;
    margin-right: auto;
}

#Piese_filter {
    display: inline;
    float: right;
}

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}


.dataTables_filter,
.dataTables_length {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.2rem;

}

    .dataTables_length
    {
        margin-left: 0.6rem;
    }
        .dataTables_filter
        {
            margin-right: 1rem;
        }

        .dataTables_filter label,
        .dataTables_length label {
            display: flex;
            align-items: center;
            color: #9933cc;
            transition: transform 0.4s;
        }


    .dataTables_filter input[type="search"] {
        width: 100%;
        max-width: 300px;
        padding: 6px 20px;
        font-size: 16px;
        border: 2px solid #9933cc;
        outline: none;
        background-color: #333;
        color: #fff;
        border-radius: 30px;
        transition: max-width 0.4s, background-color 0.4s, border-color 0.4s;
        margin-left: 10px;
    }

        .dataTables_filter input[type="search"]::placeholder {
            color: #999;
        }

        .dataTables_filter input[type="search"]:focus {
            max-width: 400px;
            background-color: #444;
            border-color: #ff66ff;
        }

            .dataTables_filter input[type="search"]:focus::placeholder {
                color: #ff66ff;
            }

    .dataTables_length select {
        padding: 6px 12px;
        font-size: 14px;
        background-color: #333;
        color: #fff;
        border: 2px solid #9933cc;
        border-radius: 6px;
        outline: none;
        transition: background-color 0.4s, border-color 0.4s;
        margin-left: 10px;
    }

        .dataTables_length select:focus {
            background-color: #444;
            border-color: #ff66ff;
        }

    .dataTables_filter label:hover,
    .dataTables_length label:hover {
        transform: scale(1.1);
    }

@media (max-width: 480px) {
    .dataTables_filter,
    .dataTables_length {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

        .dataTables_filter input[type="search"] {
            max-width: 250px;
        }

            .dataTables_filter input[type="search"]:focus {
                max-width: 300px;
            }
}

.table.dataTable thead .sorting_asc:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;
    opacity: 1;
    background-image: url("/Content/Images/up.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.table.dataTable thead .sorting:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;
    opacity: 1;
    background-image: url("/Content/Images/stand-by.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.table.dataTable thead .sorting_desc:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;
    opacity: 1;
    background-image: url("/Content/Images/down.png");
    background-repeat: no-repeat;
    background-size: contain;
}


#Piese_filter {
    display: inline;
    float: right;
    background-color: #0d1117;
}
#Beaturi_filter {
    display: inline !important;
    float: right;
    background-color: #0d1117;
}

#Conturi_filter {
    display: inline !important;
    float: right;
    background-color: #0d1117;
}

.buttonsForTables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titletabele {
    text-align: center;
    padding: 20px;
    color: white;
}

table {
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #726285;
}

th {
    background-color: #21262d;
    color: white;
}

th.sorting::after
{
    right:0px !important;
}

.btn {

    background-color: #21262d;
    color: white;
}

a {
    text-decoration: none !important;
    color: white;
}

button a:hover {
    color: white !important
}

#EditButton {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.paginate_button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #21262d;
    background-image: none;
    border: 1px solid #9933cc;
    border-radius: 4px;
    color: white;
}

    .paginate_button:hover {
        background-color: #f5f5f5;
        border-color: #adadad;
    }


    .paginate_button.active, .paginate_button.active:hover {
        background-color: #337ab7;
        border-color: #2e6da4;
        color: #fff;
        outline: none;
    }

.dataTables_wrapper .dataTables_paginate {
    float: right;
    margin-top: 0.5rem;
    text-align: right;
    display: inline-block;
}

.dataTables_wrapper .dataTables_info {
    display: inline;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.card-text.description {
    height: calc(1.2em * 5); 
    overflow: hidden;

}

    .card-text.description.full {
        height: auto;
        overflow: visible;
    }

.show-more-link
{
    margin-bottom: 7px;
}



.DiscordApi {
    margin-left: 20px;
}

audio
{
    width:450px;

}


.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right:1%;
    z-index: 99 !important;
    display: flex;
    align-items: center;
    max-height: 0px;
    overflow:hidden;
    transition: max-height 0.5s;

}

    .sub-menu-wrap.open-menu
    {
        max-height: 400px;
        
    }

.sub-menu {
    background: #21262d;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    float: right;
    min-width: 350px;
}

.user-info {
    display: flex;
    block-size: fit-content;
    align-items: center;

}

.sub-menu h5 {
text-align: center;
}

#leftMenu {
    width: 14vw !important;

}

@font-face {
    font-family: 'Spacia';
    src: url('/fonts/Spacia/Spacia-Regular.eot');
    src: url('/fonts/Spacia/Spacia-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Spacia/Spacia-Regular.woff2') format('woff2'), url('/fonts/Spacia/Spacia-Regular.woff') format('woff'), url('/fonts/Spacia/Spacia-Regular.svg#Spacia-Regular') format('svg');
    font-weight:bold;
    font-style: normal;
    font-display: swap;
}

.LikeButtons
{
    height: 35px !important;
    width: 35px !important;
    display: inline;
    margin-left: 0px;
    margin-right: auto;
}

#LikeCount {
    display: inline;
}

.st-label {
    background-color: unset !important;
}

.st-btn img {
    background-color: unset !important;
}

.st-btn {
    margin-bottom: 14px;
}




@media screen and (max-width: 767px) {
    .background-image,
    .background-image2,
    .background-image3,
    .background-image4 {
        height: 25vh !important;
    }
}



@media (max-width: 768px) {

    .counter
    {
        margin-bottom: -8px !important;
    }
    .counters
    {
        height: 250px !important;
    }

    .cta
    {
        font-size: 0.9rem !important;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #leftMenu
    {
        width: 100vw !important;
        z-index: 2 !important
    }

    .volume-container {
        display: none !important;
    }

    .filters {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .card {
        margin: 0 10px 20px;
    }

    .tabelDiv {
        width: 100%;
        overflow-x: auto;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .TabeleNebune {
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    .container {
        align-items: center;
    }

    .card {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .tabelDiv {
        width: 90%;
        overflow-x: auto;
        padding: 0;
        height: 700px;
    }

    #Beaturi_wrapper {
        height: 700px;
    }

    .TabeleNebune {
        width: 100%;
        height: auto;
        max-height: 700px;
    }

    #navbarColor02 {
        display: none;
        text-align: center !important;
    }

    .paginate_button {
        font-size: x-small;
    }

    #LoginBtn2 {
        margin-top: 0px !important;
    }

    .NuELogatContainer {
        margin: 0px !important;
        margin-top: 5rem;
    }

    #loginFormContainer {
        width: 100% !important;
    }

    .song-card {
        width: 100% !important;
    }

    #Piese_length
    {
        margin-left: 0px !important;
        margin-right: auto !important;
    }
    .body-content {
        height: 822px !important;
    }

    .navbar-toggler
    {
        right: 1px !important;
        margin-right: 0px !important;
        margin-left: auto !important;
    }
    #phonemenu-indicator {
        display: flex !important;
    }



    @media (max-width: 768px) {
        .TabeleNebune th:not(:first-child), .TabeleNebune td:not(:first-child) {
            display: none;
        }
        #control-container {
            display: none;
        }

    }

    #Piese_length {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #Piese_filter {
        margin-left: auto !important;
        margin-right: 5rem !important;
        margin-top: 0px !important;
    }
    #Piese_filter label {
        float: none !important;
        left: 10rem !important;

    }

        #Piese_filter input
        {
            max-width: 200px;
        }

        .tabelDiv {
            border: 0px;
            margin: 0px !important;
            width: 100vw !important;
            height: 80vh !important;
        }

    .container
    {
        padding: 0px;
    }

    .filter-bar
    {
        width: 100vw !important;
    }
}

#produceriLabel,
#artistiLabel,
.twitter-typeahead {
    display: block !important;
}

    #produceriLabel
    {
        margin-top: 7px;
    }

    #divforlist {
        text-align: center;
        margin-top: 1rem;
        background-color: #9933CC;
        color: black;
        border-radius: 5px;
        font-size: medium;
        font-weight: bold;
    }

#artistiList,
#produceriList{
    list-style-type:none;
}

#tools-dropdown
{
    left: -191px !important;
}

#theNAVBAR {
    height: 8vh;
}

.container body-content
{
    padding: 0px !important;
    margin: 0px !important;
}

button
{
    margin-left: 8px;
}

#navbarColor02 {
    background-color: #060606;
    width: 100vw;
}

.container-fluid {
    padding: 0px;
    z-index: 99 !important;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px 1px rgba(84, 29, 111, 0.5);
    }

    50% {
        box-shadow: 0 0 15px 2px rgba(84, 29, 111, 2);
    }

    100% {
        box-shadow: 0 0 5px 1px rgba(84, 29, 111, 0.5);
    }
}

#Conturi_length,
#Conturi_filter {
    background-color: transparent !important;
}


@keyframes fav-btn-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.fav-btn-animate.fav-btn-animation {
    animation: fav-btn-scale 0.4s ease-in-out;
}

@media screen and (max-width: 600px) {
    .playlist-modal-content {
        width: 95%;
    }
}
@media screen and (min-width: 767px) {
    #leftMenu {
        display: flex;
    }
}

    @media (max-width: 767px) {
        #leftMenu {
            width: 100%;
            height: auto;
            padding: 10px;
        }

        .section-title {
            font-size: 1em;
        }

        .sidebar-button {
            font-size: 0.9em;
            padding: 5px;
            width: calc(100% - 10px);
        }

        #leftMenu {
            display: none;
        }

        #progressbar {
            width: 93%;
        }

        #pieseMainMainContainer {
            grid-template-columns: 0vw 1fr !important;
        }

        #main-container {
            width: 100vw !important;
        }


        .glass-btn {
            width: 175px !important;
        }

        .glass-container {
            width: 180px !important;
        }

        #phonePlayListsbtn {
            display: flex !important;
        }
    }

    @keyframes popup {
        0% {
            transform: scale(0.3) translate(-50%, -50%);
            opacity: 0;
        }

        100% {
            transform: scale(1) translate(-50%, -50%);
            opacity: 1;
        }
    }

    @media (max-width: 576px) {
        .create-playlist-modal {
            width: 90%;
            height: 80%;
        }
    }

    /*Cod pentru ecrane wide*/
    @media (min-width: 3000px) {
        #leftMenu {
            max-width: 400px;
        }

        .container {
            grid-template-columns: 13vw 1fr !important;
        }
    }




