.TabeleNebune {
    height: 450px;
    width: 1300px;
    overflow: scroll;
}


#footer {
    margin-top: 70px;
}

.doctoriclass {
    background-color: #555555;
}

.tabelDiv {
    margin-top: 50px;
    margin-bottom: 50px;
    height: fit-content;
    width: fit-content;
    border: 30px solid #0d1117;
    border-radius: 30px;
    box-shadow: 0px 0px 5px;
}
.titletabele {
    background-color: #0d1117;
    margin-bottom: unset;
    padding-bottom: 0.6rem;
}

a
{
    text-decoration:none;
}

.field-validation-error {
    color: #c00 !important
}


.TabeleNebune {
    height: 530px;
    overflow: auto;
    background-color: #0d1117;
}

.dataTables_length {
    display: inline;
    background-color: #0d1117;
    width: fit-content;
}

#Piese_wrapper {
    background-color: #0d1117;
}


#Piese_filter {
    display: inline;
    float: right;
}

.table.dataTable thead .sorting_asc:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;
    opacity: 1;
    background-image: url("/Content/Images/up.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.table.dataTable thead .sorting:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;
    opacity: 1;
    background-image: url("/Content/Images/stand-by.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.table.dataTable thead .sorting_desc:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;
    opacity: 1;
    background-image: url("/Content/Images/down.png");
    background-repeat: no-repeat;
    background-size: contain;
}



#Piese_filter {
    display: inline;
    float: right;
    background-color: #0d1117;
}
#Beaturi_filter {
    display: inline !important;
    float: right;
    background-color: #0d1117;
}

#Conturi_filter {
    display: inline !important;
    float: right;
    background-color: #0d1117;
}

.buttonsForTables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titletabele {
    text-align: center;
    padding: 20px;
    color: white;
}

table {
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #726285;
}

th {
    background-color: #21262d;
    color: white;
}

th.sorting::after
{
    right:0px !important;
}

.btn {

    background-color: #21262d;
    color: white;
}

a {
    text-decoration: none !important;
    color: white;
}

button a:hover {
    color: white !important
}

#EditButton {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.paginate_button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #21262d;
    background-image: none;
    border: 1px solid #9933cc;
    border-radius: 4px;
    color: white;
}

    .paginate_button:hover {
        background-color: #f5f5f5;
        border-color: #adadad;
    }


    .paginate_button.active, .paginate_button.active:hover {
        background-color: #337ab7;
        border-color: #2e6da4;
        color: #fff;
        outline: none;
    }

.dataTables_wrapper .dataTables_paginate {
    float: right;
    margin-top: 0.5rem;
    text-align: right;
    display: inline-block;
}

.dataTables_wrapper .dataTables_info {
    display: inline;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.card-text.description {
    height: calc(1.2em * 5); 
    overflow: hidden;

}

    .card-text.description.full {
        height: auto;
        overflow: visible;
    }

.show-more-link
{
    margin-bottom: 7px;
}



.DiscordApi {
    margin-left: 20px;
}

audio
{
    width:450px;

}


.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right:1%;
    z-index: 99 !important;
    display: flex;
    align-items: center;
    max-height: 0px;
    overflow:hidden;
    transition: max-height 0.5s;

}

    .sub-menu-wrap.open-menu
    {
        max-height: 400px;
        
    }

.sub-menu {
    background: #21262d;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    float: right;
    min-width: 350px;
}

.user-info {
    display: flex;
    block-size: fit-content;
    align-items: center;

}

.sub-menu h5 {
text-align: center;
}


@font-face {
    font-family: 'Spacia';
    src: url('/fonts/Spacia/Spacia-Regular.eot');
    src: url('/fonts/Spacia/Spacia-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Spacia/Spacia-Regular.woff2') format('woff2'), url('/fonts/Spacia/Spacia-Regular.woff') format('woff'), url('/fonts/Spacia/Spacia-Regular.svg#Spacia-Regular') format('svg');
    font-weight:bold;
    font-style: normal;
    font-display: swap;
}

.LikeButtons
{
    height: 35px !important;
    width: 35px !important;
    display: inline;
    margin-left: 0px;
    margin-right: auto;
}

#LikeCount {
    display: inline;
}

.st-label {
    background-color: unset !important;
}

.st-btn img {
    background-color: unset !important;
}

.st-btn {
    margin-bottom: 14px;
}




@media screen and (max-width: 767px) {
    .background-image,
    .background-image2,
    .background-image3,
    .background-image4 {
        height: 25vh !important;
    }
}



@media (max-width: 768px) {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filters {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .card {
        margin: 0 10px 20px;
    }

    .tabelDiv {
        width: 100%;
        overflow-x: auto;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .TabeleNebune {
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    .container {
        align-items: center;
    }

    .card {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .tabelDiv {
        width: 90%;
        overflow-x: auto;
        padding: 0;
        height: 700px;
    }

    #Beaturi_wrapper {
        height: 700px;
    }

    .TabeleNebune {
        width: 100%;
        height: auto;
        max-height: 700px;
    }

    #navbarColor02 {
        display: none;
        text-align: center !important;
    }

    .paginate_button {
        font-size: x-small;
    }

    #LoginBtn2 {
        margin-top: 0px !important;
    }

    .NuELogatContainer {
        margin: 0px !important;
        margin-top: 5rem;
    }

    #loginFormContainer {
        width: 100% !important;
    }

    .song-card {
        width: 100% !important;
    }

    #Piese_length
    {
        margin-left: 0px !important;
        margin-right: auto !important;
    }
    .body-content {
        height: 822px !important;
    }

    .navbar-toggler
    {
        right: 1px !important;
        margin-right: 0px !important;
        margin-left: auto !important;
    }


    @media (max-width: 768px) {
        .TabeleNebune th:not(:first-child), .TabeleNebune td:not(:first-child) {
            display: none;
        }
    }
}

#produceriLabel,
#artistiLabel,
.twitter-typeahead {
    display: block !important;
}

    #produceriLabel
    {
        margin-top: 7px;
    }

    #divforlist {
        text-align: center;
        margin-top: 1rem;
        background-color: #9933CC;
        color: black;
        border-radius: 5px;
        font-size: medium;
        font-weight: bold;
    }

#artistiList,
#produceriList{
    list-style-type:none;
}

#tools-dropdown
{
    left: -191px !important;
}

#theNAVBAR {
    height: 8vh;
}

.container body-content
{
    padding: 0px !important;
    margin: 0px !important;
}