@{
    ViewBag.Title = "UploadPiesa";
}



<head>
    <link href="~/Content/Retusuri.css" rel="stylesheet" />
</head>
<style>
    .form-container {
        margin-top:20px;
        background-color: #0d1117;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .form-heading {
        color: white;
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .file-input {
        background-color: #0d1117;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .submit-button {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        margin-bottom: 20px;
    }
    .form-message {
        color: white;
        font-size: 0.8em;
        margin-bottom: 20px;
    }


    img
    {
        height:250px;
        width:250px;
    }

</style>

<div class="form-container">
    <h2 style=" color: white; font-size: 2em; margin-bottom: 20px; border-bottom: 2px solid white; padding-bottom: 10px; text-shadow: 1px 1px #9b9b9b;" class="form-heading">Incarca piesa pe server</h2>
    @using (Html.BeginForm("UploadPiesa", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p class="file-input">  @Html.TextBox("file", "", new { type = "file" })  <br /> </p>
        <div class="submit-button-container">
            <input class="submit-button" type="submit" value="Incarca" />
      
            <p class="form-message">@ViewBag.Message</p>
        </div>
        <div class="image-container">
            <img src="~/Content/Images/Upload.svg" alt="Your Image">
        </div>


    }
</div>

