@{
    ViewBag.Title = "Principal";
    /*    var userId = User.Identity.GetUserId();*/
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/homepage.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
          rel="home" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
    <title>Trippin</title>
    <style>
        .body-content {
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding: 0px !important;
        }

    </style>
</head>
<body>
    <section id="hero">
        <video id="bg-video"
               src="~/Content/pattern cut.mp4"
               type="video/mp4"
               poster="path/to/your/poster.jpg"
               autoplay
               muted
               loop></video>
        <div class="content">
            <h1>Trippin</h1>
            @if(!User.Identity.IsAuthenticated)
            { <a href="@Url.Action("Login", "Account")" class="cta">Intra in cont</a>}
            else
            { <button class="cta">Fa altceva</button>}

        </div>
        <div class="counters">
            <div class="counter">
                <i class="fas fa-users"></i>
                <span class="count">@ViewBag.Conturi</span>
                <p>Conturi active</p>
            </div>
            <div class="counter">
                <i class="fas fa-music"></i>
                <span class="count">@ViewBag.Piese</span>
                <p>Piese</p>
            </div>
            <div class="counter">
                <i class="fas fa-headphones-alt"></i>
                <span class="count">@ViewBag.Beaturi</span>
                <p>Beat-uri</p>
            </div>
        </div>
    </section>
    <section id="galaxy">
        <div id="galaxy-animation"></div>
        <div class="content">
            <p>
                Muzica pentru intreaga
                <strong style="color: #ff14a5"> galaxie...</strong>
            </p>
        </div>
    </section>
    <section id="futuristic">
        <div class="content">
            <h2>Impartaseste unrelease-urile tale doar cu cine trebuie </h2>
            <p>
                De cele mai multe ori, ca artisti, ne trezim in situatia in care nu stim daca este safe sa impartasim piesele sau beat-urile noastre cu cineva deoarece exista riscuri, se pot fura.
                Link-uri care expira? Ai pierdut exportul in telefon? Aici iti poti tine in siguranta munca.
            </p>
            <button class="futuristic-button">Inregistreaza-te</button>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="~/Scripts/galaxy.js"></script>
</body>
</html>
