@{
    ViewBag.Title = "Principal";
}
<style>
    .carousel-container {
        position: relative;
        margin: auto;
        width: fit-content;
        height: 400px;
        overflow: hidden;
    }

    .carousel-slide {
        display: flex;
        width: fit-content;
        height: fit-content;
    }

        .carousel-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    .prev-btn, .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        font-size: 24px;
        color: white;
        background-color: rgba(0,0,0,0.5);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .prev-btn {
        left: 10px;
    }

    .next-btn {
        right: 10px;
    }
</style>

<div class="carousel-container">
    <div class="carousel-slide">
        <img src="https://i.ibb.co/cbbCbxV/R-1.jpg">
        <img src="~/Content/Image-Carrousel/banner-la-misto.jpg">
        <img src="https://i.ibb.co/kySpmh0/R.jpg">
    </div>
    <button class="prev-btn">&#8249;</button>
    <button class="next-btn">&#8250;</button>
</div>
<script src="~/Scripts/Carrousel.js"></script>

<div class="jumbotron">
    <p class="lead">Acesta este aplicatia studio-ului T-RIP etc niste text pe aici ca sa arate frumos cat ma gandesc ce sa pun defapt :)</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Sunt un buton &raquo;</a></p>
    <div class="card border-dark mb-3" style="max-width: fit-content;">
        <div class="card-header">Youtube API</div>
        <div class="card-body">

            <h4 class="card-title">Statistici despre canal</h4>
            YouTube Subscribers
            <div class="card-text" id="subscriberCount"></div>

            YouTube Video Views
            <div class="card-text" id="viewCount"></div>

            YouTube Video Count
            <div class="card-text" id="videoCount"></div>
        </div>

        <script>


            const APIKey = 'AIzaSyA_60odxWTJP9vKUsF58ebUrLEmVVGe4cw';
            const Userid = 'UCS-cRAaG-qEHjI1wSAEvVyQ';
            const subscriberCount = document.getElementById('subscriberCount');
            const viewCount = document.getElementById('viewCount');
            const videoCount = document.getElementById('videoCount');



            let getdata = () => {

                fetch(`https://www.googleapis.com/youtube/v3/channels?part=statistics&id=${Userid}&key=${APIKey}`)
                    .then(response => {
                        return response.json()
                    })
                    .then(data => {
                        console.log(data);
                        subscriberCount.innerHTML = data["items"][0].statistics.subscriberCount;
                        viewCount.innerHTML = data["items"][0].statistics.viewCount;
                        videoCount.innerHTML = data["items"][0].statistics.videoCount;

                    })

            }

            getdata();
        </script>

    </div>
</div>



<asp:ListBox runat="server"></asp:ListBox>
