
@{
    ViewBag.Title = "PleaseConfirmEmal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul {
        list-style-position: outside;
        list-style-type: none;
    }
</style>

<div style="background-color: #1a1a1a; margin:30px; padding: 30px; border-radius: 5px; border-color: #9933cc; border-width: 1px; border-style: solid">

    <div class="form-group" style="text-align: center;">
        <h3>Multumim pentru inregistrare!</h3>
        <hr />
        <h4>Care este urmatorul pas?</h4>
        <p>Vei primi un mail de confirmare la adresa data de tine. Foloseste butonul "Confirma email" pentru a finaliza procesul</p>
        <h5>Sunt cateva lucruri pe care trebuie sa le stii inainte sa iti verifici email-ul.</h5>
        <ul>
            <li>* Email-ul poate aparea la spam</li>
            <li>* Email-ul poate aparea in sectiunea oferte</li>
            <li>* Email-ul poate aparea la junk</li>
        </ul>
        <h6>Ce recomandam?</h6>
        <p>Daca folosesti Gmail sa intrii pe optiunea "Toate mesajele"</p>
    </div>

    </div>
