
@{
    ViewBag.Title = "UrcaPeServerAmazonS3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UrcaPeServerAmazonS3</h2>

@using (Html.BeginForm("UploadFileToS3", "Piese", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" value="" />
    <input type="submit" name="submit" value="Trimite fisierul" />
}

<div>@ViewBag.Success </div>

<div> @ViewBag.ErrorMessage</div>

