
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beat-uri</h2>


<div class="TabeleNebune">
    <table class="table table-hover">
        <tr>
            <td>Nume beat:</td>
            <td>Acesta este aa</td>
        </tr>
        @foreach (var Beat in Model.Beaturi)
        {

            <tr>
                <td>@Beat.Name</td>
                <td>@Beat.Key</td>

            </tr>
        }
    </table>
</div>